
.hidden{
  visibility: hidden;
}
.banner{
  z-index: 1;
  position: absolute;
  /*background-color: #dfdfe2;
  height: 100vh;*/
  margin: 0 0 0 0;
  padding: 0 0 0 0;

}
.banner span{
  color: grey;
  /*transition: 0.2s;*/
}
span h6{
  position: relative;
  bottom: 5px;
  padding: 12px;
  text-align: center;
  font-size: 15px;
  display: inline-block;

  transition: 1s;
}
.banner span :hover{
  color: black;
  transition: 1s;
}

.closebtn h6{
  position: relative;
  bottom: 12px;
  padding: 0 0 0 5px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
}

.banner span{
    position: absolute;
    top: 55px;
    right: 56px;
    font-size: 20px;
}
.banner h1{
  position: relative;
  top: 50px;
  text-align: center;
}
.banner p{
  text-align: center;
  position: relative;
  top: 100px;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.96);
    overflow-y: hidden;
    transition: 1s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay .overlay-content a{
  text-decoration: none;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /*transition: 0.5s;*/
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
  text-decoration: none;
    position: absolute;
    top: 18px;
    right: 60px;
    font-size: 60px;
}

.carousel-item{
  position: relative;
  padding: 0 0 0 0;
  height: 100vh;
  background: no-repeat center center scroll;
 -webkit-background-size: contain;
 -moz-background-size: contain;
 -o-background-size: contain;
 background-size: contain;
}
.carousel{
  margin: auto;
  min-height:500px ;
  width: 50%;
}
header{
  background-color: #dfdfe2;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
